.home-grid {
    overflow: hidden;
    display: grid;
    background-color: var(--bs-tertiary-bg);
    grid-template-rows: 54px calc(100vh - (54px + 25px)) 25px;
    grid-template-areas: "home-header"
                         "home-body"
                         "home-footer";
}

.home-header {
    grid-area: home-header;
    overflow: hidden;
}

.home-footer {
    background-color: var(--bs-dark-bg-subtle);
    grid-area: home-footer;
    overflow: hidden;
    font-size: .75rem;
    padding-left: 10px;
    padding-top: 3px;
}

.home-header .navbar-brand {
    padding-top: 0px !important;
}

.home-header .offcanvas-header {
    padding: 6px 16px;
}   

.home-body {
    grid-area: home-body;
    overflow-y: scroll;
    padding: 8px;
}

#sqlEditor,
#sqlVisual {
    width: 100%; 
    height: calc( (100vh / 2) - 133px); 
    border: 1px solid transparent;/* var(--bs-dark-bg-subtle); */
}

#cardMenu{
    height: calc(100vh - 93px);
    overflow-y: auto;
}

#cardResult,
#cardParameters {
    position: relative;
    height: calc( (100vh / 2) - 133px);
    overflow-y: auto;
}

#leftPanel,
#rightTopPanel,
#rightBottomPanel {
    padding: 0px;
}

#rightTopPanel div.card .card-body,
#rightBottomPanel div.card .card-body {
    height: 100%; 
    overflow-y: auto;
}

#resultDetail {
    color: red;
}

.table-float {
    position: absolute;
    top: 80px;
    left: 30px;
    min-width: 250px;
    height: 200px !important;
    font-size: 0.85rem;
}

.line{
    border: 2px solid #D2D2D2; 
    position:absolute; 
    width:1px; 
    cursor: pointer;
    z-index: 100;
  }
  
  .line-in {
    position:absolute;
    text-align: center;
    transform:translate(-50%,0);
    font-size:0.75rem;
    white-space: nowrap;
    display: none;   
  }

  .line-in p {
    margin-top: 0;
    margin-bottom: 0;
  }

  div.card.table-float div.card-header {
    padding: 5px 15px !important;
    font-size: 1rem;
    font-weight: 700;
    cursor: move;
  }

  .pk-fk {
    margin-top: 4px;
    font-size: 0.65rem;
    color:#C2C2C2;
  }