/* CSS */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
  
::-webkit-scrollbar-track {
    background: rgb(233, 233, 233);
    border-radius: 20px; 
}
   
::-webkit-scrollbar-thumb {
    background: #c7c8ca;
    border-radius: 20px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgb(185, 185, 185); 
}

.hide {
    display: none;
}

.show {
    display: bloxk;
}

.nowrap {
    white-space: nowrap;
}

pre {
    white-space: pre-wrap;
    tab-size: 2;
    margin-bottom: 0;
}

.split {
    display: flex;
    flex-direction: row;
}

.gutter {
    background-color: #FFF;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
}

.accordion-button {
    padding: 0.40rem 0.40rem;
}

.accordion-body {
    padding: 0.40rem 1.5rem;
}

.list-group-item {
    padding: 0.25rem 0.40rem;
}

.btn-light {
    border-color: var(--bs-border-color);
}